<div class="container">
 


<div class="card">
    <div class="card-body">
      <h3><b>Cadastre-se</b></h3>
      <form [formGroup]="form">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nomeCompleto">Nome Completo</label>
            <input formControlName="nomeCompleto" type="text" class="form-control" id="nomeCompleto" required>
            <div *ngIf="f.nomeCompleto.touched && f.nomeCompleto.invalid" class="alert alert-danger">
              <div *ngIf="f.nomeCompleto.errors.required">Nome Obrigatório</div>
              <div *ngIf="f.nomeCompleto.errors.nomeCompleto">Por favor, digite um Nome Valido</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="cpf">CPF</label>
            <input formControlName="cpf" type="number" id="cpf" class="form-control " placeholder="Ex: 12345678900"
              required>
            <div *ngIf="f.cpf.touched && f.cpf.invalid" class="alert alert-danger">
              <div *ngIf="f.cpf.errors.required">CPF Obrigatório</div>
              <div *ngIf="f.cpf.errors.cpf">Por favor, digite um CPF Valido</div>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="idade">Idade</label>
            <input formControlName="idade" type="number" id="idade" class="form-control " placeholder="Ex.: 01"
              cpf-mask="00" maxlength="2" minlength="2" required>
            <div *ngIf="f.idade.touched && f.idade.invalid" class="alert alert-danger">
              <div *ngIf="f.idade.errors.required">Idade Obrigatório</div>
              <div *ngIf="f.idade.errors.idade">Por favor, digite uma idade Valida</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email" required>
            <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
              <div *ngIf="f.email.errors.required">Email Obrigatório</div>
              <div *ngIf="f.email.errors.email">Por favor, digite um Email Valido</div>
            </div>
          </div>

          <div class="form-group col-md-6">
              <label for="password">Senha</label>
              <input formControlName="senha" type="password" class="form-control" id="password" maxlength="8"
                minlength="8" required>
              <div *ngIf="f.senha.touched && f.senha.invalid" class="alert alert-danger">
                <div *ngIf="f.senha.errors.required">Senha Obrigatória</div>
                <div *ngIf="f.senha.errors.senha">Senha deve conter 8 digitos</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="password">Confirmar Senha</label>
              <input formControlName="confirmarSenha" type="password" class="form-control" id="password" maxlength="8"
                minlength="8" required>
              <div *ngIf="f.confirmarSenha.touched && f.confirmarSenha.invalid" class="alert alert-danger">
                <div *ngIf="f.confirmarSenha.errors.required">Confirmar Senha Obrigatório</div>
                <div *ngIf="f.confirmarSenha.errors.confirmarSenha">Senha deve conter 8 digitos</div>
              </div>
            </div>


        </div>
        <button type="submit" class="btn btn-primary mt-2" (click)="setValue()" id="acessar">acessar</button>
      </form>
    </div>
  </div>

    
</div>