form {
    
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 750px;
 
    margin-top: 15px;
    
   

}
p{
    text-align: left;
    
}

h3{
    text-align: center;
}

button{
   
}