
<div class="card">
        <div class="card-body">
            <h3><b>Cadastre-se</b></h3>

            <form >

                    <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputNome">Nome Completo</label>
                              <input type="text" class="form-control" id="inputCity" minlength="5">
                            </div>
                    </div>


                    <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputCPF">CPF</label>
                              <input  type="text" class="form-control " placeholder="Ex: 123.456.789-00" cpf-mask="00000000000" maxlength="14" minlength="14" required>
                                
                            </div>

                            
                            <div class="form-group col-md-2">
                                    <label for="inputIdade">Idade</label>
                                    <input type="text" class="form-control " placeholder="Ex.: 01" cpf-mask="00" maxlength="2" minlength="2" required>
                                  </div>
                                </div>




                
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Senha</label>
                        <input type="password" class="form-control" id="inputPassword4" maxlength="8" minlength="8">
                      </div>
                    </div>
                    <div class="form-group">
                            <label for="inputEstado">Qual Estado reside?</label>
                            <select id="inputEstado" class="form-control">
                              <option selected></option>
                              <option>São Paulo (Capital)</option>
                            </select>
                          </div>
                    <div class="form-group">
                            <label for="inputState">Qual Zona reside?</label>
                            <select id="inputState" class="form-control">
                              <option selected></option>
                              <option>Zona Leste</option>
                              <option>Zona Norte</option>
                              <option>Zona Sul</option>
                              <option>Zona Oeste</option>
                            </select>
                          </div>
                    
                    <p>Qual melhor Periodo?</p>
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Manhã
                            </label>
                          </div>
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                              Tarde
                            </label>
                          </div>
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                            <label class="form-check-label" for="defaultCheck3">
                              Noite
                            </label>
                          </div>
                          
                        
                    
                    <button type="submit" class="btn btn-primary mt-2" (click)="finish()" >Finalizar Cadastro</button>

  

                  </form>
        
                  
  
      


        </div>
</div>



    