/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) { 
p{
    text-align: left;
}

h2{
    text-align: center;
    font-size: 20px;
}


form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    margin-top: 5px;  
}

.card{
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 500px;
    margin-top: 20px;
}
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) {
    p{
        text-align: left;
    }
    
    h2{
        text-align: center;
        font-size: 20px;
    }
    
    
    form {
        /* Apenas para centralizar o form na página */
        margin: 0 auto;
        width: 400px;
        margin-top: 5px;  
    }
    
    .card{
        /* Apenas para centralizar o form na página */
        margin: 0 auto;
        width: 500px;
        margin-top: 20px;
    }
    }

    /* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) {
    p{
        text-align: left;
    }
    
    h2{
        text-align: center;
        font-size: 20px;
    }
    
    
    form {
        /* Apenas para centralizar o form na página */
        margin: 0 auto;
        width: 400px;
        margin-top: 5px;  
    }
    
    .card{
        /* Apenas para centralizar o form na página */
        margin: 0 auto;
        width: 500px;
        margin-top: 20px;
    }
    }

    /* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) { 
    p{
        text-align: left;
    }
    
    h2{
        text-align: center;
        font-size: 20px;
    }
    
    
    form {
        /* Apenas para centralizar o form na página */
        margin: 0 auto;
        width: 400px;
        margin-top: 5px;  
    }
    
    .card{
        /* Apenas para centralizar o form na página */
        margin: 0 auto;
        width: 500px;
        margin-top: 20px;
    }
    }