<div class="container">

<meta http-equiv="refresh" content="40">        
<div class="card">
        <div class="card-body">
                <h2><b>Confirmar Dados</b></h2>
                <form [formGroup]="form">
                        <div class="form-group">
                          <div class="form-group col-md-14">
                                <label for="cpf">CPF</label>
                                <input formControlName="cpf" type="text" id="cpf" class="form-control " placeholder="Ex: 12345678900" required>
                                <div *ngIf="f.cpf.touched && f.cpf.invalid" class="alert alert-danger">
                                <div *ngIf="f.cpf.errors.required">cpf Obrigatório</div>
                                <div *ngIf="f.cpf.errors.cpf">Por favor, digite um CPF Valido</div>
                                </div>
                          </div>
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-12">
                                <label for="email">Email</label>
                                <input formControlName="email" type="email" class="form-control" id="email" required>
                                <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                                <div *ngIf="f.email.errors.required">Email Obrigatório</div>
                                <div *ngIf="f.email.errors.email">Por favor, digite um Email Valido</div>
                                </div>
                        </div>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="setValue()">Ok</button>
                </form>
        </div>
</div>
<div class="card">
        <div class="card-body">
                <h2><b>Redefinir Senha</b></h2>
                <form [formGroup]="form">
                
                <div class="form-group col-md-12">
                <label for="password">Senha</label>
                <input formControlName="senha" type="password" class="form-control" id="password" maxlength="8"minlength="8" required>
                <div *ngIf="f.senha.touched && f.senha.invalid" class="alert alert-danger">
                <div *ngIf="f.senha.errors.required">Senha Obrigatória</div>
                <div *ngIf="f.senha.errors.senha">Senha deve conter 8 digitos</div>
        
        </div>
        </div>
        <div class="form-group col-md-12">
                <label for="password">Confirmar Senha</label>
                <input formControlName="confirmaSenha" type="password" class="form-control" id="password" maxlength="8"minlength="8" required>
                <div *ngIf="f.confirmaSenha.touched && f.confirmaSenha.invalid" class="alert alert-danger">
                <div *ngIf="f.confirmaSenha.errors.required">Confirmar Senha Obrigatório</div>
                <div *ngIf="f.confirmaSenha.errors.confirmaSenha">Senha deve conter 8 digitos</div>
                </div>      
        </div>
                <button type="button" class="btn btn-primary mr-1">Redefinir</button>
                </form>
</div>
</div> 
</div>